@font-face {
  font-family: 'Regul';
  src: url(../fonts/MontserratAlternates-Regular.ttf);
} 
@font-face {
  font-family: 'Bold';
  src: url(../fonts/MontserratAlternates-Bold.ttf);
} 

@font-face {
  font-family: 'Medium';
  src: url(../fonts/MontserratAlternates-Medium.ttf);
} 

@font-face {
  font-family: 'Thin';
  src: url(../fonts/MontserratAlternates-Thin.ttf);
} 





