{% extends 'base.html' %}
{% load static %}
{% block main %}
<main>
    <div class="content">
        <div class="container">
            <h2 class="content__title">{{ title }}</h2>
            {% include 'digital/components/_filters.html' %}
        </div>
    </div>


    <div class="content">
        <div class="container">

            <div class="content__cards list_cards">

                {% for product in products %}
                {% include 'digital/components/_card.html' %}

                <!--                <div class="card h-card">-->
                <!--                    <a href="{{ product.get_absolute_url }}">-->
                <!--                        <div class="card_img">-->
                <!--                            <img src="{{ product.get_first_photo }}" alt="" class="image_good">-->
                <!--                        </div>-->
                <!--                        <p class="card_title">{{ product.title }}</p>-->
                <!--                        <div class="card_price">-->
                <!--                            <p class="price">{{ product.price|floatformat:2 }}$</p>-->
                <!--                            <span class="data_price">{{ product.installment }}$ / 12</span>-->
                <!--                        </div>-->
                <!--                    </a>-->
                <!--                    <div class="card_button">-->
                <!--                        <a class="btn_card" href="{% url 'add_or_del' product.slug 'add' %}"><img-->
                <!--                                src="{% static 'digital/image/icons/cage.svg' %}" alt=""> <span class="btn_text">В корзину</span>-->
                <!--                        </a>-->

                <!--                        &lt;!&ndash;                        <a href="{% url 'save_favorite' product.slug %}" class="link_fav {% if product in favorites %}active{% endif %}">&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            <svg width="28" height="24" viewBox="0 0 28 24" fill="none"&ndash;&gt;-->
                <!--                        &lt;!&ndash;                                 xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
                <!--                        &lt;!&ndash;                                <path&ndash;&gt;-->
                <!--                        &lt;!&ndash;                                        d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"&ndash;&gt;-->
                <!--                        &lt;!&ndash;                                        stroke="#0F2859" stroke-width="2" stroke-linecap="round"&ndash;&gt;-->
                <!--                        &lt;!&ndash;                                        stroke-linejoin="round"/>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                            </svg>&ndash;&gt;-->
                <!--                        &lt;!&ndash;                        </a>&ndash;&gt;-->

                <!--                        <a href="{% url 'save_favorite' product.slug %}"-->
                <!--                           class="link_fav {% if product in favorites %}active{% endif %}">-->
                <!--                            <svg width="28" height="24" viewBox="0 0 28 24" fill="none"-->
                <!--                                 xmlns="http://www.w3.org/2000/svg">-->
                <!--                                <path-->
                <!--                                        d="M8.375 1C4.57813 1 1.5 4.07813 1.5 7.875C1.5 14.75 9.625 21 14 22.4538C18.375 21 26.5 14.75 26.5 7.875C26.5 4.07813 23.4219 1 19.625 1C17.3 1 15.2438 2.15438 14 3.92125C13.3661 3.01825 12.5239 2.28131 11.5447 1.77281C10.5656 1.2643 9.47831 0.999222 8.375 1Z"-->
                <!--                                        stroke="#0F2859" stroke-width="2" stroke-linecap="round"-->
                <!--                                        stroke-linejoin="round"/>-->
                <!--                            </svg>-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </div>-->
                {% endfor %}


            </div>
            {% include 'digital/components/_pagination.html' %}
        </div>
    </div>


</main>
{% endblock main %}