{% extends 'base.html' %}
{% load static %}

{% block main %}
<main>
    <div class="content">
        <div class="container">
            <h2 class="content__title">Хиты продаж</h2>
            <div class="content__cards">

                {% for category in categories %}
                {% for product in category.products.all %}
                {% include 'digital/components/_card.html' %}
                {% endfor %}
                {% endfor %}

            </div>


        </div>


    </div>

    <div class="content">
        <div class="container">
            <h2 class="content__title">Новинки</h2>
            <div class="content__cards">
                {% for product in new_products %}
                {% include 'digital/components/_new_card.html' %}
                {% endfor %}

            </div>


        </div>


    </div>

    {% if discounted_products %}
    <div class="content">
        <div class="container">
            <h2 class="content__title">Действующие Акции</h2>
            <div class="content__images">


                <img src="image/advertising/Rectangle 357.png" alt="">

                {% for product in discounted_products %}
                {% include 'digital/components/_discounted_card.html' %}

                {% endfor %}


                <img src="image/advertising/Rectangle 358.png" alt="">

            </div>


        </div>


    </div>
    {% endif %}

    <div class="content">
        <div class="container">
            <div class="content_info" id="about_section">
                <h2 class="content__title_info">Digitalsrore - Интернет магазин цифровой и бытовой техники и
                    электроники.</h2>
                <p class="content__description">Digitalsrore – интернет магазин бытовой техники и электроники, с
                    доставкой по
                    городу Ташкент и всей Республике Узбекистан. У нас вы сможете купить товары с оптимальным
                    соотношением цены
                    и качества, ознакомиться с новинками, а также сравнить характеристики.
                    В каждом разделе мы расположили товары таким образом, чтобы вам было проще ознакомиться с каждым из
                    них.
                    Если вы хотите ускорить процесс выбора товаров, то вы можете воспользоваться удобной функцией поиска
                    по
                    сайту.
                    Для удобства покупателей предусмотренно несколько вариантов оплаты за покупку: наличные, пластиковая
                    карта,
                    платежная система CLICK. Так же в нашем интернет магазине можно совершить покупку в рассрочку.
                </p>

                <p class="content__description">Наша миссия – сделать для покупателей максимально удобным процесс выбора
                    и
                    покупки товаров. В то время как вы работаете, стремитесь построить карьеру, воспитать детей и
                    воплотить свои
                    мечты в реальность, помните, что мы всегда рядом с вами – мы в одном шаге, в одном клике. Где бы вы
                    не
                    находились: на работе, дома или в кафе, выбирайте качественную бытовую технику и электронику с
                    комфортом и
                    по выгодным ценам в интернет магазине Digitalsrore</p>
            </div>
        </div>

    </div>


</main>
{% endblock main %}