{% extends 'base.html' %}

{% load static %}
{% load digital_tags %}

{% block main %}

<main>
    <div class="content_user">
        <div class="user container">
            <h3 class="user_room">Личный кабинет</h3>
            <div class="user_block">
                <div class="user_img">
                    <img class="user_img-img" src="{% static 'digital/image/goods/no-preview_R900.jpg' %}" alt="">
                    <div class="user_name">
                        <p>{{ user.username }}</p>
                    </div>
                </div>
                <div class="user_info">
                    <h2 class="user_title">Личные данные</h2>
                    <form action="" method="post" class="user-form">
                        {% csrf_token %}
                        <ul class="lis__user_info">
                            <li class="list_user"><p>Имя:</p> <span class="view-mode">{{ account_form.first_name.value }}</span>
                                <span>{{ account_form.first_name }}</span></li>
                            <li class="list_user"><p>Фамилия:</p> <span class="view-mode">{{ account_form.last_name.value }}</span>{{ account_form.last_name }}
                            </li>
                            <li class="list_user"><p>Телефон:</p> <span
                                    class="view-mode">{{ profile_form.phone.value }}</span>{{ profile_form.phone }}
                            </li>
                            <li class="list_user"><p>E-mail:</p> <span
                                    class="view-mode">{{ account_form.email.value }}</span>{{ account_form.email }}
                            </li>
                        </ul>
                        <button type="button" id="editBtn" class="btn btn_profile">Редактировать</button>
                        <button type="submit" id="saveBtn" class="btn btn_profile" style="display: none;">Сохранить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for order in orders %}
    <div class="content_order">
        <div class="my_orders">
            <a href="{% url 'my_orders' %}"><h3>Мои заказы <img src="{% static 'digital/image/icons/errow_right.svg' %}" alt="" class="errow_down"></h3></a>
        </div>

        <ul class="list_orders ">

            {% for item in order.orderproduct_set.all %}
            {% endfor %}

        </ul>


    </div>
    {% endfor %}
    <div class="content_connect">
        <p class="content_top_text">Привязка к аккаунтам соцсетей</p>
        <p class="content_midle_text">Вы можете связать свой профиль с профилями в социальных сетях и сервисах:</p>
        <div class="list_mail">
            <img src="{% static 'digital/image/icons/tg.svg' %}" alt="">
            <img src="{% static 'digital/image/icons/insta.svg' %}" alt="">
            <img src="{% static 'digital/image/icons/fb.svg' %}" alt="">
            <img src="{% static 'digital/image/icons/google.svg' %}" alt="">
        </div>

    </div>

    <script>
        document.getElementById("editBtn").addEventListener("click", function () {
            document.querySelectorAll(".view-mode").forEach(el => el.style.display = "none");
            document.querySelectorAll("input").forEach(el => el.style.display = "inline-block");
            document.getElementById("editBtn").style.display = "none";
            document.getElementById("saveBtn").style.display = "inline-block";
        });
    </script>

</main>

{% endblock main %}
